user = {{ postfix__db_user }}
password = {{ postfix__db_password }}
hosts = {{ postfix__db_host }}
dbname = {{ postfix__db_name }}
query = SELECT DISTINCT concat(destination_username, '@', destination_domain) AS destinations FROM aliases
        WHERE (source_username = '%u' OR source_username IS NULL) AND source_domain = '%d'
        AND enabled = true
        AND NOT EXISTS (SELECT id FROM accounts WHERE username = '%u' and domain = '%d');
